$login-color: #682b7d;
$main-padding: 0.75rem;
$main-margin: 0.75rem;
.login-container {
  background-color: #a977ae;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .login-content {
    background-color: #fff;
    padding: 0;
    border-radius: 0.375rem;
    .login-content-title {
      text-align: center;
      background-color: $login-color;
      color: #fff;
      padding: $main-padding;
      border-top-right-radius: 0.375rem;

      border-top-left-radius: 0.375rem;
    }
    .login-content-body {
      padding: 1rem;

      .form-group {
        padding-top: 1rem;
        input {
          box-shadow: none;
        }
      }
    }
  }
}
