.product-list-header {
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}
.all-products-container {
  margin-top: 1rem;
}
.skeleton-wrapper {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
